.main{
    
}
.header__navbar{
    padding: 4px 0;
    background-color: var(--header-color);
    
}
.header__first{
    display: flex;
    justify-content: space-between;
   
    
}
.header__first-list{
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    
}
.header__first-item-link-child{
    font-weight: bold;
}
.header__first-item-link-child:hover{
    color: var(--fonts-color);
}
.header__first-item-link{
    text-decoration: none;
    margin: 0 8px;
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--black-color);
    
}
.header__first-item-link:hover{
   color: var(--font-color);
    
    
}
.header__first-icon{
    font-size: 1.4rem;  
}
.icon{
    font-size: 2rem;
}
.header__logo{
    
    height: 120px;
    background-color: var(--white-color);
   
}
.header__logo-img{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.header__logo-avata{
    width: 36%;

}

.cate__navbar-list{
    padding: 0;
    margin: 0;
    display: flex;

}
.cate__navbar-item{
    margin: 0 22px;
    list-style: none;

}
.header__catalog svg,
.cate__navbar-link svg{
    margin: 0 8px 5px;
}
.cate__navbar-link{
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--black-color);

}
.cate__navbar-link:hover{
    color: var(--fonts-color);

}
.cate__navbar-info{
    font-size: 1.6rem;
   
}
.header__search{
    flex: 1;
    height: 50px;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 10;
    
   

}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;

}
.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    padding: 0 16px;
    background-color: #f6f5f5;
    border: 2px solid var(--white-color);
    border-radius: 6px;
    
}
.header__search-input:focus ~ .header__search-history{
    display: block;
    
    

}
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 2px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #e0e0e0;
    display: none;
    overflow: hidden;
    z-index: 1;

}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    


}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin:6px 0 0;

}
.header__search-history-item{
    height: 3.8rem;
    padding: 0 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}
.header__search-history-item:hover{
    background-color: var(--header-color);
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.header__search-btn{
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
    background-color: #f6f5f5;
    display: block;
    position: absolute;
    right: 0;

}
.header__search-btn:hover{
   
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--black-color);
    font-size: 2rem;

}
.header__container{
    border-top:  2px solid var(--background-color);
    display: block;

}
.header__two{
    height: 54px;
    line-height: 3rem;
    display: flex;
    align-items: center;


}
.header__two-source{
    position: relative;

}
.header__two-list{
    display: flex;
    

}
.header__two-item{
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 62px;
    position: relative;
    letter-spacing: 1px;
    
}
.header__two-item:nth-child(1){
    padding-left: 30px;
}
.header__two-item:last-child{
    padding-right: 8px;
}
.header__two-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 50px;
    border-left: 2px solid var(--background-color);
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: -29px;

}
.header__two-link{
    text-decoration: none;
    color: var(--black-color);

}
.header__two-link:hover{
    color: var(--font-color);
}
.header__two-icon{
    margin-left: 4px;
}
.header_product-name{
    width: 270px ;
    position: absolute;
    top: 100%;
    background-color: var(--white-color);
    left: 30px;
    border: 1px solid rgba(0, 0, 0,0.1);
    cursor: default;
    animation: headerNotiGrowth ease-in .1s ;
    will-change: Opacity, transform;
    transform-origin: calc(100%-32px) top ;
    display: none;
    border-radius: 2px;
    z-index: 20;
    
}

@keyframes headerNotiGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__navbar-item--has-noti:hover .header_product-name{
    display: block;

}
.header_product-name::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    right: 0;
    top: -16px;
    height: 20px;
}
.header__noti-list{
    padding: 16px 16px 0 24px;
    border-left: 4px solid #f0efef;
    
}
.header__noti-item{
    list-style: none;
    


}
.header__noti-item-link{
    text-decoration: none;
    color: var(--black-color);
    letter-spacing: 1px;

}
.header__noti-item-link:hover{
    color: var(--fonts-color);
}

.header__catalog{
    display: flex;
    padding-left: 58px;
}
.header__catalog-link{
    display: flex;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;



}
.header__catalog-link svg{
    top:5px;
}
.container{
    background-color: var(--background-color);
    padding-top: 20px;
}

.app__content{
    padding: 0 20px;
    background-color: var(--white-color);
}

.home-product-item{
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    margin-top: 24px;
    position: relative;
    border-radius: 2px;
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;

}
.home-product-item:hover{
    box-shadow: 2px 1px 20px 1px rgb(0 0 0 / 5%);
    transform: translateY(-2px);
    
    
    
}

.home-product-item__img{
    height: 380px;
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.home-product-item__name:hover{
    color: var(--fonts-color);
}
.home-product-item__name{
    font-size: 2rem;
    font-weight: 650;
    line-height: 2.8rem;
    justify-content: center;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    align-self: baseline;
    margin: 10px 20px 2px 20px;
    letter-spacing: 1px;
    color: var(--black-color);
    text-align: center;
    padding-bottom: 8px;
    height: 70px;
}


.block__search{
    margin: 25px 0;

}
.recipe-search{
    background-image: url(../img/sprinkles-background.svg);
    background-position: right;
    background-repeat: repeat;
    background-size: initial;

}
.block-container{
    background-color: var(--white-color);
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    padding: 30px 50px;
    text-align: center;
    margin: 0 auto;


}
.search-heading{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;


}
.search-title{
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 1px;

}
.search-second{
    background-color: #fdedf0;

}

.search__heading{
    display: flex;
}
.container-btn{
  
}
.search__btn-first{
    font-size: 1.4rem;
    font-weight: 600;
    height: 46px;
    width: 140px;
    justify-content: space-between;
    display: inline-block;
    margin-right: 12px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px; 
    border: 5px;
    
}
.search__btn-first h1{
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: bold;
    letter-spacing: 1px;
    align-items: center;

}
.btn-1{
    background-color: #cee7e8;

}
.btn-2{
    background-color: #f6daca;

}
.category{

}
.home-filter{
    display: block;
    align-items: center;

}
.home-filter-btn{
    background-color: var(--header-color);
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;

}
.home-filter-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.2rem;
    font-weight: 700;

}
.home-filter-link span{
    font-size: 1.2rem;
    font-weight: 400;

}
.cake,
.category-content{
    border: 2px solid var(--header-color);
    border-radius: 2px;
    padding-bottom: 30px;

}
.home__category-img{
    height: 240px;

}
.home__category-name{
    height: 160px;

}
.note{

}
.note-item{
    display: flex;

}
.home-product-img{
    width: 150px;
    height: 150px;

}
.note-item-name{
    

}
.app_container{
    padding-top: 30px;
    position: relative;
}
.cake-btn{
    background-color: #e7f3f3;
}
.cake{
    border: 2px solid #e7f3f3;

}
.product-home{
    position: relative;
   
   
}
.modal{
    position: absolute;
    height: 350px;
    width: 400px;
    top: 30%;
    margin-left: 330px;
    z-index: 9999;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #e0e0e0;

}
.modal-btn{
    margin: 25px 0 0 -20px;
    border: none;
}
.modal-text{
    font-size: 2.4rem;
    letter-spacing: 1px;
    padding-left: 16px;

}
.modal-text:hover{
    color: var(--font-color);
}
.modal-title{
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-left: 16px;
    font-weight: 500;
    line-height: 20px;

}
.block-title,
.block-centrer{
    background-color: #fdedf0;
}
.block-centrer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.block-title{
    max-width: 780px;
}
.block-input{
    display: flex;
}
.btn-3{
    margin-top: 1px;
    background-color: #f7b8c3;
}
.block-search{
    padding-right: 10px;
    
}
.block-search-input{
    background-color: var(--white-color);
}
.circle{
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    

}
.circle span{
    border: 2px solid var(--white-color);
    border-radius: 50%;
    padding: 6px 12px;
    background-color: var(--header-color);

}
.modal-title-link{
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 4px;
    background-color: var(--header-color);
    border: none ;
    padding: 12px 16px ;
    text-align: center;
    float: right;
    color: var(--black-color);
    text-decoration: none;

}
.modal-title-link span{
    font-size: 1.2rem;
    font-weight: 400;

}
.category-first{
    padding-bottom: 30px;
}
.footer{
    background-color: #fdedf0;

}
.footer-finish{
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
}
.footer-finish-item{
    font-size: 2rem;
    font-weight: 550;
    margin-right: 60px;
    line-height: 50px;
    

}
.footer__second{
    background-color: var(--white-color);
    
}
.footer__second-text{
    font-size: 1.2rem;
    font-weight: 550;
}
.footer__second-item-img{
    padding-left: 5px;
}